.sub-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    flex-direction: column;

    .form {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 65%;

        .note-input {
            resize: none;
            outline: none;
            padding: 1vh;
            border: none;
            flex: 1;
            margin-bottom: .5rem;
        }

        button.add-note {
            margin-bottom: .5rem;
        }
    }

    .bin {
        height: 30%;
        width: 100%;
        border: 2px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }

    .active {
        background-color: red;
    }

}