.sub-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34vh;

    .image {
        border-radius: 50%;
        height: 95%;
    }
}

@media screen and (max-width: 991px) {
    .sub-container {
        margin-bottom: 24px;

        .image {
            height: 90%;
        }
    }
}