.sub-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;

    .image {
        border-radius: 50%;
        width: 20rem;
        height: 20rem;
    }
}