.sub-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34vh;

    .contact-info {
        display: flex;
        align-items: center;
        padding: 12px 0;
        color: white;
    }

    .contact-info p {
        padding-left: 24px;
        font-size: 18px;
        margin: 0;
    }

}

@media screen and (max-width: 991px) {
    .sub-container {
        justify-content: center;
        margin-bottom: 24px;
    }
}