.sub-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
}

.icon {
    color: #fff;
}

.wrapper {
    text-align: center;
    margin: 1rem 0;
}

.contact-info {
    color: #fff;
    margin: .5rem 0;
    font-size: 1.2rem;
}

hr {
    color: #fff;
}